@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
{
    .size2
    {
        font-size: 24;
        font-weight: bold;
    }

    .lightBorder
    {
        border: #696969;
    }

    .colours
    {
        color: #00FFE0;
        border: #4E4E4E;
    }

    .colours:hover
    {
        color: #0085FF;
    }

    .colours:active
    {
        color: #0029FF;
    }

    .colours-bg
    {
        background-color: #00FFE0;
        border: #4E4E4E;
    }

    .colours-bg:hover
    {
        background-color: #0085FF;
    }

    .colours-bg:active
    {
        background-color: #0029FF;
    }

    .centerer
    {
        text-align: center;
    }

    .dropdown
    {
        position: relative;
        display: inline-block;
        text-align: left;
    }

    .dropdown-content
    {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropbtn
    {
        padding-left: 50px;
        padding-right: 50px;
        border: 2px solid #4E4E4E;
        border-radius: 15px;
    }

    .dropdown-content a
    {
        color: black;
        display: block;
    }

    .dropdown:hover .dropdown-content
    {
        display: block;
    }

    .twist
    {
        transform: rotate(90deg);
    }
}
