@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
{
    .size2
    {
        font-size: 24;
        font-weight: bold;
    }

    .lightBorder
    {
        border: #696969;
    }

    .colours
    {
        color: #00FFE0;
        border: #4E4E4E;
    }

    .colours:hover
    {
        color: #0085FF;
    }

    .colours:active
    {
        color: #0029FF;
    }

    .btn-link
    {
        @apply inline-block px-4 py-2 bg-pink-300 rounded-md font-bold text-sm text-white uppercase tracking-widest hover:bg-red-500
        active:bg-red-900 focus:ring ring-cyan-300;
    }

    .btn-lg
    {
        @apply px-6 py-3;
    }

    .btn
    {
        @apply px-4 py-2 rounded-md font-bold text-sm text-white uppercase tracking-widest focus:ring focus:outline-none;
    }

    .btn-danger
    {
        @apply bg-red-600 hover:bg-red-700
        active:bg-red-700 ring-red-300;
    }

    .twist
    {
        transform: rotate(90deg);
    }
}
